@font-face {
    font-family: "MuseoSansCyrl100";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 100;
}


@font-face {
    font-family: "MuseoSansCyr300";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 300;
}


@font-face {
    font-family: "MuseoSansCyrl500";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: "MuseoSansCyrl700";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: "MuseoSansCyrl900";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 900;
}


@font-face {
    font-family: "MuseoSansCyrl100Italic";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "MuseoSansCyrl300Italic";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "MuseoSansCyrl500Italic";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: "MuseoSansCyrl700Italic";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: "MuseoSansCyrl900Italic";
    url("../fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    font-style: normal;
    font-weight: 900;
}


@font-face {
    font-family: 'pt_serifitalic';
    src: url('ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifbold';
    src: url('ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifregular';
    src: url('ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifbold';
    src: url('ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_serifitalic';
    src: url('ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifregular';
    src: url('ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
