body{
  margin: 0;
}
.wrapper{
  height: 100vh;
  background: url(img/Cover_img.png);
  background-size: cover;
  overflow-y: hidden;
  height: calc(var(--vh, 1vh) * 100);
}

.header{
  display:flex;
  justify-content:space-between;
  width: 85%;
  padding: 87px 0 210px;
  margin-left: 10%;
}

.menu, .logo{
  display: inline-block;
}

.logo{
  background: url(img/logo.svg);
  width: 147px;
  height: 56px;
}


.menu{
  display:flex;
  align-items:center;
}


.menu__item{
  position: relative;
  margin-right: 36px;
  font: 22px/26px "MuseoSansCyrl100", helvetica, arial, sans-serif;
  color: #F8EEE4;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child{
  padding-right: 0;
}

.menu__item:after{
  display:block;
  content:"";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #F8EEE4;;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover{
  opacity:.5;
}

.main{
width: 87%;
padding: 0 51% 0 0:
}

.menu__item:hover:after,menu__item_active:after{
  opacity: 1;
  width: 100%;
}


.content {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}

.info__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  margin-right: 70px;
}

.info__img {
  background: url(img/1366Bali.svg) no-repeat;
  background-size: 95%;
  width: 537px;
  height: 252px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 30px;
}

.info__text {
  color: #f8eee4;
  margin-bottom: 1.83vw;
  width: 26.5vw;
  font-size: 23px;
}

.info__btn {
  width: 293.76px;
  height: 61.88px;
  background: #d4bea3;
  border-radius: 48px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background 1s ease-out;
  outline: none;
  margin-right: 230px;
}

.info__btn:hover {
  background: #cab437;
}

.pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 18px;
}

.pic__img-temple {
  transition: flex 0.3s ease-out;
  height: 422px;
  width: 318px;
}

.pic__img-gates {
  transition: flex 0.3s ease-out;
  height: 380px;
  width: 284px;
  margin-right: 30px;
  margin-left: 42px;
}

.pic__img-field {
  flex: 1;
  transition: flex 0.3s ease-out;
  height: 380px;
  width: 207px;
}
.pic__img-field:hover {
    flex: 4;
}
