body{
  margin: 0;
}
.wrapper{
  height: 100vh;
  background: url(img/Cover_img.png);
  background-size: cover;
  overflow-y: hidden;
}

.header{
  display:flex;
  justify-content:space-between;
  margin: 0 auto;
  max-width: 90%;
  align-items: center;
  padding: 87px 0 212px;
}

.menu, .logo{
  display: inline-block;
}

.logo{
  background: url(img/logo.svg);
  width: 147px;
  height: 56px;
}

.menu{
  display:flex;
  align-items:center;
}

.menu__item{
  position: relative;
  margin-right: 26px;
  font: 22px/26px "MuseoSansCyrl100", helvetica, arial, sans-serif;
  color: #F8EEE4;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child{
  padding-right: 0;
}

.menu__item:after{
  display:block;
  content:"";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #F8EEE4;;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover{
  opacity:.5;
}

.main{
width: 87%;
padding: 0 51% 0 0:
}

.menu__item:hover:after,menu__item_active:after{
  opacity: 1;
  width: 100%;
}


.content {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}

.info__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
}

.info__img {
  background: url(img/Bali.svg) no-repeat;
  background-size: 95%;
  width: 537px;
  height: 252px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 49px;
}

.info__text {
  font-size: 20px;
  color: #f8eee4;
  margin: 25px 0;
  width: 29vw;
}

.info__btn {
  width: 293.76px;
  height: 61.88px;
  background: #d4bea3;
  border-radius: 48px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background 1s ease-out;
  outline: none;
  margin-right: 310px;
}

.info__btn:hover {
  background: #cab437;
}

.pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 18px;
}

.pic__img-temple {
  height: 400px;
}

.pic__img-gates {
  height: 370px;
  margin-right: 25px;
  margin-left: 25px;
}

.pic__img-field {
  height: 370px;
}
